@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
.btn {
  transition: 250ms ease-in;
}
.btn-primary {
  background-color: #0e8ce4;
  border-color: #0e8ce4;
}
.btn-primary:hover {
  background-color: #1b99f1;
  border-color: #1b99f1;
}
.btn-outline-primary {
  color: #0e8ce4;
  border-color: #0e8ce4;
}
.btn-outline-primary:hover {
  background-color: #0e8ce4;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4d4d4d;
}

body {
  background-color: #fbfbfb;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 64px;
  /* Footer height */
}

section {
  padding: 50px 0;
}
@media (min-width: 768px) {
  section {
    padding: 60px 0;
  }
}
@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}

.pagination .btn {
  font-size: 14px;
  padding: 5px 10px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 0 20px #e5e5e5;
}
header .logo img {
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .autocomplete {
  position: relative;
}
header .autocomplete input {
  height: 48px;
  background-color: #fff;
  border-radius: 5px;
}
header .autocomplete input:focus {
  box-shadow: unset;
}
header .autocomplete button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #0e8ce4;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  transition: 250ms ease-in;
}
header .autocomplete button:hover {
  background-color: #0d7dcc;
}
header .autocomplete-result-list {
  cursor: pointer;
}
header .autocomplete-result-list a {
  color: #000 !important;
}
header .autocomplete-result-list a:hover {
  color: #0e8ce4 !important;
  text-decoration: none !important;
}
header .autocomplete-result-list a li {
  cursor: pointer;
}
header .autocomplete-result-list a img {
  height: 60px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
header .cart {
  position: relative;
}
header .cart img {
  height: 35px;
}
header .cart p {
  position: absolute;
  top: -8px;
  right: -12px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #0e8ce4;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 0;
}

.banner {
  height: 300px;
  padding: 60px 0;
}
.banner h1 {
  color: #fff;
  font-size: 40px;
}
@media (min-width: 768px) {
  .banner h1 {
    font-size: 50px;
  }
}

.product-block {
  margin-bottom: 30px;
}
.product-block .product-wrap {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  transition: 300ms ease-in-out;
}
.product-block .product-wrap:hover {
  box-shadow: 0 0 20px #ccc;
}
.product-block .product-wrap .box-element {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}
.product-block .product-wrap .thumbnail {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

section.product-list .row {
  margin-bottom: -30px;
}

.row-image {
  height: 60px;
  width: auto;
}

.cart-row {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.cart-row p {
  margin-bottom: 0;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  transition: 0.1s;
}

.chg-quantity:hover {
  opacity: 0.6;
}

.hidden {
  display: none !important;
}

.product-details .container {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0 20px #e5e5e5;
}
.product-details-image img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-details-description .add-cart {
  flex-wrap: wrap;
  gap: 16px;
}
.product-details-description .add-cart span {
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 32px;
}
.product-details-description .add-cart button {
  margin-left: 8px;
}
.product-details-description .star-rating {
  line-height: 32px;
  font-size: 1.25em;
}
.product-details-description .star-rating .fa-star {
  color: #ffb400;
}

#box {
  width: 500px;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box span {
  color: #0e8ce4;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}

.close {
  font-size: 18px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  background: #0e8ce4;
  display: inline-block;
  border-radius: 4px;
}

.login-register .form-wrap {
  max-width: 450px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  margin: 40px auto;
}
.login-register .form-control {
  height: 50px;
}
.login-register form button {
  width: 100%;
  background-color: #1089ff;
  color: #fff;
  border: 1px solid #1089ff;
  border-radius: 5px;
  padding: 12px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background-color: #222222;
  padding: 20px 0;
}
footer p {
  color: #fff;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */