img {
  max-width: 100%;
}

body {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}

.box-element {
  -webkit-box-shadow: #cccccc 0 0 16px;
          box-shadow: #cccccc 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.thumbnail {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -1px -3px 5px -2px #d6d6d6;
  box-shadow: -1px -3px 5px -2px #d6d6d6;
}

.product {
  border-radius: 0 0 4px 4px;
}

.btn {
  border-radius: 0;
}

.row-image {
  height: 60px;
  width: auto;
}

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px;
}

.cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-stretch;
      -ms-flex-align: flex-stretch;
          align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity {
  display: inline-block;
  font-weight: 700;
  padding-right: 10px;
}

.chg-quantity {
  width: 12px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  -webkit-transition: .1s;
  transition: .1s;
}

.chg-quantity:hover {
  opacity: .6;
}

.hidden {
  display: none !important;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #15161D;
  padding: 15px 0;
}

header .logo img {
  height: 70px;
}

header .autocomplete {
  position: relative;
}

header .autocomplete input {
  border-radius: 5px;
}

header .autocomplete button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #D10024;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

header .autocomplete button:hover {
  background-color: #b80020;
}

header .autocomplete-result-list {
  width: calc(100% - 1px) !important;
  margin-left: 1px;
  cursor: pointer;
}

header .autocomplete-result-list a {
  color: #000 !important;
}

header .autocomplete-result-list a:hover {
  color: #D10024 !important;
  text-decoration: none !important;
}

header .autocomplete-result-list a li {
  cursor: pointer;
}

header .autocomplete-result-list a img {
  height: 60px;
  width: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

header .cart {
  position: relative;
}

header .cart img {
  height: 35px;
  display: inline-block;
  margin-left: 15px;
}

header .cart p {
  position: absolute;
  top: -8px;
  right: -16px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: red;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.banner {
  height: 300px;
  padding: 60px 0;
}

.banner h1 {
  color: #fff;
  font-size: 40px;
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 50px;
  }
}

.product-details {
  padding: 60px 0;
}

.product-details .container {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 1px 1px 1px #eee;
          box-shadow: 0 1px 1px 1px #eee;
}

.product-details-image img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-details-description .add-cart span {
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 32px;
}

.product-details-description .add-cart input {
  height: 30px;
  width: 50px;
  text-align: center;
}

.product-details-description .add-cart button {
  margin-left: 8px;
}
/*# sourceMappingURL=style.css.map */