header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #15161D;
    padding: 15px 0;

    .logo {
        img {
            height: 70px;
        }
    }

    form.autocomplete {
        position: relative;

        input {
            border-radius: 5px;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: $primary;
            border: 0;
            border-radius: 0 5px 5px 0;
        }
    }

    .cart {
        position: relative;    
        img {
            height:35px;
            display: inline-block;
            margin-left: 15px;
        }

        p {
            position: absolute;
            top: -8px;
            right: -16px;
            width: 20px;
            height: 20px;
            color:#fff;
            background-color: red;
            font-size: 14px;
            line-height: 20px;
            text-align: center;            
            border-radius: 50%;
        }
    }
}