@import "variables";
@import "buttons";

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0, 0%, 30%);
}

body {
    background-color: #fbfbfb;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 64px; /* Footer height */
}

section {
    padding: 50px 0;
    @media (min-width: 768px) {
        padding: 60px 0;
    }
    @media (min-width: 768px) {
        padding: 80px 0;
    }
}

.pagination {
    .btn {
        font-size: 14px;
        padding: 5px 10px;
    }
}