{% extends 'store/header.html' %}
{% load static %}
{% block content %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="box-element">		
						<a  class="btn btn-outline-primary" href="{% url 'store' %}">&#x2190; Continue Shopping</a>		
						<br>
						<br>
						<table class="table">
							<tr>
								<th><h5>Items:<strong id="total_cart_items">{{totalCartItems}}</strong></h5></th>
								<th><h5>Total:<strong id="total_price"> ${{object.get_total}}</strong></h5></th>
								<th>
									{% if object.get_total %}
									<a  style="float:right; margin:5px;" class="btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
									{% endif %}
								</th>
							</tr>
						</table>		
					</div>		
					<br>
					<div class="box-element">
						<div class="cart-row">
							<div style="flex:2"></div>
							<div style="flex:2"><strong>Item</strong></div>
							<div style="flex:1"><strong>Price</strong></div>
							<div style="flex:1"><strong>Quantity</strong></div>
							<div style="flex:1"><strong>Total</strong></div>
						</div>
						
						{% for item in object.items.all %}
						<div class="cart-row" id="rowid{{item.product.id}}">
							<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
							<div style="flex:2"><p>{{item.product.name}}</p></div>
							<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
							<div style="flex:1">
								<p class="quantity" id="id{{item.product.id}}">{{item.quantity}}</p>
								<div class="quantity">
									<a href="{% url 'add_to_cart' %}" class="add-btn" id="{{item.product.id}}"><img class="chg-quantity" src="{% static  'images/arrow-up.png' %}"></a>
							
									<a href="{% url 'remove_from_cart' %}" class="remove-btn" id="{{item.product.id}}"><img class="chg-quantity" src="{% static  'images/arrow-down.png' %}"></a>

								</div>
							</div>
							<div style="flex:1"><p>${{item.get_total_item_price}}</p></div>							
						</div>
						{% endfor %}					
		
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block script %}
<script>
	$( ".add-btn" ).click(function(e){
			var id = $(this).attr('id');
			var qid = "id"+id
			var quantity = parseInt($("#"+qid).text())
			quantity = quantity +1
			if (quantity <= 0) {
				console.log("Less")
				$("#rowid"+id).remove()	
			}
			else{
				$("#"+qid).text(quantity)
				console.log("More")
			}		
		});

		$( ".remove-btn" ).click(function(e){
			var id = $(this).attr('id');
			var qid = "id"+id
			var quantity = parseInt($("#"+qid).text())
			quantity = quantity - 1
			if (quantity <= 0) {
				console.log("Less")
				$("#rowid"+id).remove()	
			}
			else{
				$("#"+qid).text(quantity)
				console.log("More")
			}
	
		});
</script>

{% endblock script %}


