{% extends 'store/header.html' %}
{% load static %}
{% block content %}

    <!-- Banner -->
    <!--<section class="banner" style="background-image: url('{% static 'images/banner.png' %}');">
        <div class="container text-center h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <h1>{{product}}</h1>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Banner end -->
   
    <section id="product-details" class="product-details">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 pr-xl-4 mb-4 mb-lg-0">
                    <div class="product-details-image text-center">
                        <a class="gallery-item" href="{{product.imageURL}}">
                            <img src="{{product.imageURL}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 pl-xl-4">
                    <div class="product-details-description">
                        <h1 class="mb-4">{{product}}</h1>
                        <p class="mb-4">{{product.description}}</p>
                        <h2 class="h3 mb-4">${{product.price}}</h3>
                        {% if available == "yes" %}
                            <small class="text-success">In Stock</small>
                        {% else %}
                            <small class="text-danger">Out of Stock</small>
                        {% endif %}
                            
                        <div class="add-cart d-flex align-items-center mt-2">
                            {% comment %} <span>Quantity:</span> {% endcomment %}
                            {% comment %} <input type="number" value="1" min="1"> {% endcomment %}
							<a href= "{% url 'add_to_cart' %}" class="btn btn-primary add-btn" id="{{product.id}}">Add to Cart</a>

                           
                            {% if request.user.is_authenticated %}
                                <form class="form-horizontal" role="search" method="post">
                                    {% csrf_token %}
                                    {% if update %}
                                    <input type="submit" class="btn btn-outline-primary" value="Remove from Wishlist"  name="watch">
                                    {% else %}
                                    <input type="submit" class="btn btn-outline-primary" value="Add to Wishlist" name="watch">
                                    {% endif %}
                                </form>
                            {% endif %}                        
                        </div>

                    	{% if request.user.is_authenticated %}                        
                            <form class="form-horizontal mt-5" role="search" method="post"  onsubmit="return validateForm()"  name="ratingForm">
                                <div class="star-rating mb-2">
                                    <h2 class="h4">Rate Product</h2>
                                    <span class="fa fa-star-o" data-rating="1"></span>
                                    <span class="fa fa-star-o" data-rating="2"></span>
                                    <span class="fa fa-star-o" data-rating="3"></span>
                                    <span class="fa fa-star-o" data-rating="4"></span>
                                    <span class="fa fa-star-o" data-rating="5"></span>
                                    
                                    {% if rate_flag %}
                                        <input type="hidden" name="rating" class="rating-value" value="{{product_rating}}" >
                                    {% else %}
                                        <input type="hidden" name="rating" class="rating-value" value="0">
                                    {% endif %}
                                    {% csrf_token %}
                                </div>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                        {% endif %}                        
                    </div>
                </div>
            </div>            
        </div>
    </section>     

{% endblock content %}