{% extends 'store/header.html' %} {% load static %} {% load crispy_forms_tags %}

<style>
    body {
        background-color: #f8f9fd;
    }
    .form-wrap {
        max-width: 450px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
        margin: 100px auto 0;
    }
    .form-control {
        height: 50px;
    }
</style>

{% block header %}
<!--Khalti Static Files-->
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock header %} {% block content %}

    <section>
        <div class="container">
            <h2 class="h2 text-center mb-5">Payment<hr></h2>
            <div class="row">
                {% include "store/order_snippet.html" %}
    
                <div class="col-12">
                    <div class="d-flex mt-4">
                        <button
                            id="payment-button"
                            class="btn"
                            style="background-color: #5c2d91; color: #fff;"
                        >
                            Pay with Khalti
                        </button>
                        <button
                            id="cash-on-delivery-button"
                            class="btn btn-primary ml-3"
                        >
                            Cash on Delivery
                        </button>
                    </div>
                </div>   
            </div>
        </div>

        <div id="box">
            
            <h2 id="message" class="h4 mb-3"></h2>
            
            <a class="btn btn-primary" onclick="unpop()" class="close">Close</a>
        </div>
    </section>
   
    <script>
        function successPayment() {
            document.getElementById('message').innerHTML
                = 'Payment Successful!';
        }
        function successCOD() {
            document.getElementById('message').innerHTML
                = 'Your product will be delivered soon!';
        }
        function pop(){
                document.getElementById("box").style.display="block";
        }
        function unpop(){
            document.getElementById("box").style.display="none";
            urlhome = "{% url 'store' %}"
            console.log(urlhome)
            window.location.href = urlhome
        }
        $(document).ready(function() {
            console.log($.ajax);
          });

        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_158423d6322946d2be6911788075dd4f",
            "productIdentity": "1234567890",
            "productName": "Dragon",
            "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    console.log("success");
                    console.log(payload);
                    $.ajax({
                        url: "{% url 'verify_payment' %}",
                        type: "POST",
                        data: payload,
                        dataType: 'json',
                        success: function(response) {
                            console.log(response);
                            successPayment();
                            pop();
                        },
                        error: function(error) {
                            console.log("654321");
                            console.log(error);
                        }
                    })
                },
                onError (error) {
                    console.log("error");
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            console.log("submitted");
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: {{order.get_total}}*100 });
        }

        var btn2 = document.getElementById("cash-on-delivery-button");
        btn2.onclick = function () {
            console.log("Cash on delivery");
            $.ajax({
                    
                url: "{% url 'cash_on_delivery' %}",
                type: "POST",
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",},
                success: function(response) {
                    successCOD();
                    pop();
                    console.log("Your product will be home delivered")                        
                    
                },
                error: function(error) {
                    console.log(error);
                }
            })
            
        }
    </script>

{% endblock content %}
