{% extends 'store/header.html' %}
{% load static %}
{% block content %}

{% comment %} <form action="{% url 'search_results' %}?search={{products.query}}&sort_by=l2h" method="GET">
	<select onchange="this.form.submit()">
		<option >Relevance</option>
		<option >Price:--low to high</option>
		<option >Price:-- high to low</option>
	</select>
</form> {% endcomment %}

	<section class="product-list">
		<div class="container">
			<div class="mb-5">
				<h1 class="mb-4">Search Results For: '{{products.query}}'<hr></h1>
				<b>Sort by: </b>
				<select onchange="location = this.value;">
					<option value="{% url 'search_results' %}?search={{products.query}}&sort_by=rel" {% if products.sortby == 'rel' %} selected{% endif %}>Relevance</option>
					<option value="{% url 'search_results' %}?search={{products.query}}&sort_by=l2h" {% if products.sortby == 'l2h' %} selected{% endif %}>Price (Low to High)</option>
					<option value="{% url 'search_results' %}?search={{products.query}}&sort_by=h2l" {% if products.sortby == 'h2l' %} selected{% endif %}>Price(High to Low)</option>
				</select>
			</div>			
			<div class="row">
				{% for product in products.search_results %}
				<div class="col-md-6 col-lg-4 col-xl-3 product-block">
					<div class="product-wrap">
						<img class="thumbnail" src="{{product.imageURL}}">
						<div class="box-element">
							<h6><strong>{{product.name}}</strong></h6>
							<hr>
							<h4 class="mb-3"><strong>${{product.price|floatformat:2}}</strong></h4>
							<a href= "{% url 'add_to_cart' product.id %}" class="btn btn-primary add-btn">Add to Cart</a>
							<a class="btn btn-outline-primary" href = "{% url 'details' product.id %}">View</a>					
						</div>
					</div>				
				</div>
				{% endfor %}			
			</div>
		</div>
	</section>

{% endblock content %}