{% extends 'store/header.html' %}
{% load static %}
{% block content %}

	{% if request.user.is_authenticated %}
		{% include "store/recommend.html" %}	
	{% endif %}
	<section class="product-list">		
		<div class="container">
			{% if request.user.is_authenticated %}
				<h2 class="text-center mb-5">More Products<hr></h2>
			{% endif %}
			<div class="row">
				{% for product in products %}
				<div class="col-md-6 col-lg-4 col-xl-3 product-block">
					<div class="product-wrap">
						<img class="thumbnail" src="{{product.imageURL}}">
						<div class="box-element">
							<h6><strong>{{product.name}}</strong></h6>
							<hr>
							<h4 class="mb-3"><strong>${{product.price|floatformat:2}}</strong></h4>
							<a href= "{% url 'add_to_cart' product.id %}" class="btn btn-primary add-btn">Add to Cart</a>
							<a class="btn btn-outline-primary" href = "{% url 'details' product.id %}">View</a>					
						</div>
					</div>				
				</div>
				{% endfor %}
			</div>	
		</div>
	</section>

{% endblock content %}