{% extends 'store/header.html' %}
{% load static %}
{% block content %}

	{% if request.user.is_authenticated %}
		{% include "store/recommend.html" %}	
	{% endif %}
	<section class="product-list">		
		<div class="container">
			{% if request.user.is_authenticated %}
				<h2 class="text-center mb-5">More Products<hr></h2>
			{% endif %}
			<div class="row">
				{% for product in all_products %}
				<div class="col-md-6 col-lg-4 col-xl-3 product-block">
					<div class="product-wrap">
						<img class="thumbnail" src="{{product.imageURL}}">
						<div class="box-element">
							<h6><strong>{{product.name}}</strong></h6>
							<hr>
							<h4 class="mb-3"><strong>${{product.price|floatformat:2}}</strong></h4>
							<a href= "{% url 'add_to_cart' %}" class="btn btn-primary add-btn" id="{{product.id}}">Add to Cart</a>
							<a class="btn btn-outline-primary" href = "{% url 'details' product.id %}">View</a>					
						</div>
					</div>				
				</div>
				{% endfor %}
			</div>
			<div class="pagination justify-content-center mt-5">
				<span class="step-links">
					{% if all_products.has_previous %}
						<a class="btn btn-dark" href="?page=1">&laquo; first</a>
						<a class="btn btn-outline-dark" href="?page={{ all_products.previous_page_number }}">previous</a>
					{% endif %}
			
					<span class="current mx-2">
						Page {{ all_products.number }} of {{ all_products.paginator.num_pages }}.
					</span>
			
					{% if all_products.has_next %}
						<a class="btn btn-outline-dark" href="?page={{ all_products.next_page_number }}">next</a>
						<a class="btn btn-dark" href="?page={{ all_products.paginator.num_pages }}">last &raquo;</a>
					{% endif %}
				</span>
			</div>
		</div>
	</section>
	


{% endblock content %}
{% block script %}

{% endblock script %}