{% extends 'store/header.html' %}
{% load static %}
{% block content %}

	<section class="product-list">
		<div class="container">
			<h1 class="text-center mb-5">Wishlist<hr></h1>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong></strong></div>
					<div style="flex:2"><strong></strong></div>
				</div>
				
				{% for product in products %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{product.imageURL}}"></div>
					<div style="flex:2"><p>{{product.name}}</p></div>
					<div style="flex:1"><p>${{product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<div class="quantity">
							<a href= "{% url 'add_to_cart' product.id %}" class="btn btn-primary add-btn">Add to Cart</a>	
						</div>
					</div>
					<div style="flex:2">
						<button class="btn btn-outline-primary">Remove from Wishlist</button>
					</div>							
				</div>
				{% endfor %}					

			</div>
		</div>
	</section>

{% endblock content %}