{% extends 'store/header.html' %}
{% load static %}
{% block content %}

	<section class="product-list">
		<div class="container">
			<h1 class="text-center mb-5">Wishlist<hr></h1>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong></strong></div>
					<div style="flex:2"><strong></strong></div>
				</div>
				
				{% for product in products %}
				<div class="cart-row" id="rowid{{product.id}}">
					<div style="flex:2"><img class="row-image" src="{{product.imageURL}}"></div>
					<div style="flex:2"><p><a href="{% url 'details' product.id %}">{{product.name}}</a></p></div>
					<div style="flex:1"><p>${{product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<div class="quantity">
							<a href= "{% url 'add_to_cart' %}" class="btn btn-primary add-btn" id="{{product.id}}">Add to Cart</a>

						</div>
					</div>
					<div style="flex:2">
						<a href= "{% url 'remove_from_wishlist' %}" class="btn btn-outline-primary remove-wishlist" id="{{product.id}}">Remove from Wishlist</a>
					</div>							
				</div>
				{% endfor %}					

			</div>
		</div>
	</section>

{% endblock content %}

{% block script %}
<script>
	$( ".remove-wishlist" ).click(function(e)
	{
		var id = $(this).attr('id');
		console.log(id)
		$.ajax({	
			url: "{% url 'remove_from_wishlist' %}",
			type: "POST",
			data: {id:id, csrfmiddlewaretoken: "{{ csrf_token }}",},
			success: function(response) {
				console.log(response);
				$("#rowid"+id).remove()	
			},
			error: function(error) {
				console.log(error);
			}
		})
		e.preventDefault();
		
	});

	
</script>
{% endblock script %}
